.col-md-6.col-md-offset-3
  %h1 Edit Page
  =image_tag @idea.image.url(:medium)
  =render 'form'
  =link_to "cancel",idea_path
  |
  =link_to "Delete",idea_path,method: :delete,data: {confirm: "Are you sure?" }
